body{
    height: 100vh;
    width:100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main{
    transform: translateY(-60%);
    box-sizing: border-box;
    display: flex;
    width: 100%;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

    
    img{
        object-fit: contain;
        height: 100px;
    }
   
}
.inputss{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
}
.inputs{
    box-sizing: border-box;
    height: 100px;

    
    width: 80%;
    max-width: 600px;
    position: relative;
    display: flex;
    
    align-items: center;
    
    span{
        padding: 0px 10px;
       z-index: 1;
    }
    input{
        outline: none;
        box-sizing: border-box;
        padding: 0px 40px;
        width: 60%;
        position: absolute;
        width: 100%;
        margin: 0;
        height: 41px;
        border: 1px solid rgba(0, 0, 0, 0.273);
        border-radius: 30px;
    }
}

.btns{
    display: flex;
    justify-content: center;
    height: 30px;
    gap: 30px;

    button{
        cursor: pointer;
        border: none;
        border-radius: 3px;
        padding: 0px 10px;
        background-color: #f8f9fa;
    }

}